/*ESTILOS DE COUNTRIES*/

*{
	margin: 0px;
	padding: 0px;
}

.common{
	background-color: #26a69a;
	padding: 10px 0px;
	color: #fff;
}

li{
	padding: 10px;
	border-bottom: 1px solid #D8D8D8;
}

img{
	width: 30px;
	float: left;
	margin-right: 70px;
}

a{
	color: #000;
	opacity: 2
}

a:hover {
	opacity: 0.5;
}

