/*ESTILOS DE LOGIN*/

*{
	margin:0px;
	padding: 0px;
}

.join{
	margin-top: -20px;
	margin-bottom: 30px;
}

#login{
	margin-top: 62px;
} 

i.fa{
    font-size: 20px;
    margin-top: 25px;
    color: #000;
}

.next a {
	position: fixed;
	z-index: 2;
	bottom: 0;
	transform: translateY(0);
}

#login i{
	color: #4db6ac;
	font-size: 20px;
	border: 1px solid #4db6ac;
	border-radius: 100%;
	padding: 10px;

}




