*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('../img/bg1.jpg');
	background-size: cover; 
	background-repeat: no-repeat;

}

img{
	margin-top: 50px;
	width: 100px;
	height: auto;
}

.btn{
	margin-top: 350px;
	border-radius: 0px;
}

