/*ESTILOS PAGINA DE INICIO APP*/
*{
	margin: 0px;
	padding: 0px;
}

body{
	background-size: cover; 
	background-repeat: no-repeat;
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}

img{
	margin-top: 50px;
	width: 100px;
	height: auto;
}

.btn{
	margin: 300px 0px 100px 0px;
	border-radius: 0px;
}

