*{
	margin:0px;
	padding: 0px;
}

.form-container{
	background-color: #26a69a;
	position: relative;
	margin-top: -17px;
}

.fa-angle-double-left {
	position: absolute;
	top:10px;
	left: 10px;
	font-size: 20px;
	color: #fff;
}

#previus i {
	color: #000;
}

.file-field {
	position: relative;
	top: -20px;
	left: 0;
}

.btn{
	box-shadow: none;
	border-radius: 0px;
	width: 100%;
}

@media screen and (max-width: 768px) {
   .file-field {
	left: 0%;
	}
}

.user-profile i{
	border: 1px solid #26a69a;
	border-radius: 50%;
	padding: 10px;
	opacity: 2;
	color: #26a69a;
}

h4 {
    color: #fff;
    padding-top: 20px;
}

.user-profile i:hover{
	opacity: 0.5;
}

.info{
	color: #26a69a;
}

.info i {
	margin: 10px;
}


