/*ESTILOS DE PROFILE*/

/*ESTILOS API GOOGLE MAP*/
  html, body { 
  	height: 100%; margin: 0; padding: 0; }
    #map { 
    	height: 100%; 
    	overflow-y:hidden; 
    }

header .fa{
    font-size: 20px;
    top: 22px;
    right: 140px;
    color: #000;
    position: absolute;
    z-index: 900;
}

header .circle{
	width: 40px;
	height: 40px;
	top: 15px;
	position: absolute;
	 z-index: 900;
	 border: 2px solid #4db6ac;
}

.next1 a {
	position: absolute;
	z-index: 2;
	bottom: 0;
	margin-top: 5px;
	transform: translateY(0);
	 z-index: 1;
}

/*ESTILOS NAV ASIDE*/

#slide-out{
	overflow-y:hidden; 
}

#slide-out img{
	width: 80px;
	height: 80px;
	margin-top: 10px;
}

.side-nav a{
	line-height: 0px; 
	font-size: 12px;
	height: 0px;
}
a.view-profile{
	color: #26a69a;
}

.side-nav a:hover{
	color: #26a69a;
	background-color: #fff;
}

.info a{
	padding-bottom: 38px;
    padding-top: 9px;
    border-bottom: 1px solid #E6E6E6;
}

.info i{
	margin-right: 37px;
	font-size: 20px;
}

.drive{
	background-color: #A9A9F5;
	color: #fff;
}

i.fa-map-marker{
	font-size: 25px;
}

i.fa-car{
	font-size: 13px;
}