*{
	margin:0px;
	padding: 0px;
}

.join{
	margin-top: -20px;
}

#sign-up{
	padding: 20px 0px;
}

i.fa{
    font-size: 20px;
    margin-top: 25px;
}


.input-field{
	margin-top: 0px;
}

.verify{
	margin-top: -20px;
}


.next a {

	
	position: fixed;
	z-index: 2;
	bottom: 0;
	transform: translateY(0);

}



.btn-large{
	shad
}