/*ESTILOS DE USER*/

*{
	margin:0px;
	padding: 0px;
}

header .fa{
    font-size: 20px;
    margin-top: 25px;
    color: #000;
}

.join{
	margin-top: -20px;
}

/*.input-user{
	margin-bottom: -10px;
}*/


.next a {
	position: absolute;
	z-index: 2;
	bottom: 0;
	transform: translateY(0);
}

.next span{
	background-color: rgba(51,51,51,0.9);
	padding: 5px;
	border-radius: 3px;
	color: #fff;
	display: block;
	width: 200px;
	text-align: center;
	margin: 5px;
	float: right;
}

.check{
	margin-top: 20px;
}

